.line {
  fill: none;
  /* starts invisible, made visible with transition */
  stroke: white;
  /* half is inside the margin, half is outside */
  stroke-width: 3px;
  stroke-opacity: 0.1;
}

.dot {
  fill: yellow;
  r: 1;
  stroke: white;
  stroke-opacity: 0.1;
  stroke-width: 10;
}

rect {
  fill: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 100%);
  stroke: black;
  /* half is inside the margin, half is outside */
  stroke-width: 1px;
}

.axis path,
.axis line {
  fill: gray;
  stroke: #000;
  shape-rendering: crispEdges;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
